body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Monospace;
  font-size: 16px;
  overscroll-behavior: none;
}

#container {
  user-select: none;
}

.slideshow-btn:hover {
  cursor: pointer;
  filter: invert(100%);
}

#previous-btn {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 50%;
}

#next-btn {
  z-index: 10;
  position: absolute;
  right: 0;
  top: 50%;
}

#info-btn {
  z-index: 10;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

#info-btn:hover {
  cursor: pointer;
  filter: invert(100%);
}

#info-div {
  z-index: 11;
  display: none;
  position: absolute;
  left: 10px;
  bottom: 75px;
  padding: 10px;
  max-width: 350px;
  border: 1px solid white;
  background-color: black;
}
